node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.vscode
build

# SwiftPM .gitignore
native/Recorder/.build
native/Recorder/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
